.comment-detail-main {
  section {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 20px;

    article {
      &.user-movie-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > div {
          &:first-child {
            p {
              display: flex;
              align-items: center;
              img {
                width: 25px;
              }
              span {
                font-size: 0.8rem;
                font-weight: 300;
                color: rgb(61, 61, 61);
                margin-left: 5px;
                &:nth-of-type(2) {
                  color: rgb(149, 149, 149);
                }
              }
              &:nth-of-type(2) {
                font-size: 1rem;
                margin-top: 5px;
                font-weight: 300;
              }
              &:nth-of-type(3) {
                font-size: 0.7rem;
                color: rgb(120, 120, 120);
                font-weight: 300;
                margin: 3px 0;
              }
            }
            & > span {
              display: inline-block;
              padding: 1px 6px;
              border: 1px solid rgb(255, 153, 0);
              box-sizing: border-box;
              border-radius: 30px;
              svg {
                width: 13px;
                height: auto;
                margin-right: 3px;
              }
              span {
                font-size: 0.8rem;
                color: rgb(255, 153, 0);
              }
            }
          }
          &:last-child {
            width: 70px;
            height: 100px;
            border: 0.5px solid rgba(0, 0, 0, 0.16);
            border-radius: 3px;
            box-sizing: border-box;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      &.comment-content {
        font-size: 0.9rem;
        font-weight: 300;
        color: rgb(74, 74, 74);
        line-height: 1.6rem;
        white-space: pre-wrap;
        margin: 20px 0 30px 0;
      }
      &.comment-like-reply-write {
        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 3px;
          box-sizing: border-box;
          &:first-child {
            padding: 10px 0;
            & > div {
              // background-color: aqua;
              display: flex;
              button {
                color: rgb(120, 120, 120);
                font-size: 0.8rem;
                font-weight: 300;
                background-color: transparent;
                padding: 5px 0;
                width: 30px;
                &:nth-child(1) {
                  position: relative;
                }
                &:nth-child(2) {
                  margin-left: 10px;
                }
                &:nth-child(1)::after {
                  content: '';
                  display: block;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  transform: translate(0.5px, -50%);
                  background: rgb(214, 214, 214);
                  width: 1px;
                  height: 14px;
                  margin-right: -5px;
                }
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
          &:last-child {
            border-top: 1px solid rgb(240, 240, 240);
            border-bottom: 1px solid rgb(240, 240, 240);
          }
          p {
            color: rgb(120, 120, 120);
            font-size: 0.8rem;
            font-weight: 300;
            &:first-child {
              margin-right: 20px;
            }
            span {
              display: inline-block;
            }
          }
          &.like-and-reply button {
            width: 50%;
            background-color: transparent;
            padding: 10px 0;
            color: rgb(103, 104, 106);
            transition: all 0.2s;
            font-size: 0.9rem;
            font-weight: 300;
            &:hover {
              background-color: rgb(240, 240, 240);
              border-radius: 5px;
              color: rgb(61, 61, 61);
            }
            &:nth-of-type(1) {
              position: relative;
              &.active {
                color: #8e00fd;
              }
              &::after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0.5px, -50%);
                background: rgb(214, 214, 214);
                width: 1px;
                height: 14px;
                margin-right: -5px;
              }
            }
            &:nth-of-type(2) {
              margin-left: 10px;
            }
          }
        }
      }
      &.comment-reply-list {
        ul {
          li {
            display: flex;
            padding: 10px 0;
            width: 100%;
            border-bottom: 1px solid rgb(240, 240, 240);
            &:last-child {
              border-bottom: 0;
            }
            .writer-profile-img {
              width: 36px;
              margin-right: 10px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .writer-content {
              display: flex;
              justify-content: space-between;
              width: 100%;
              & > div {
                p {
                  margin-bottom: 5px;
                  &:first-child {
                    font-size: 1rem;
                    font-weight: 400;
                  }
                  &:last-child {
                    font-size: 0.9rem;
                    font-weight: 300;
                  }
                  &.writen-date {
                    font-weight: 300;
                    font-size: 0.8rem;
                    color: rgb(120, 120, 120);
                    margin-bottom: 0;
                  }
                }
                button {
                  color: rgb(120, 120, 120);
                  font-size: 0.7rem;
                  font-weight: 300;
                  background-color: transparent;
                  padding: 5px 0;
                  width: 20px;
                  &:first-child {
                    position: relative;
                  }
                  &:first-child::after {
                    content: '';
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0.5px, -50%);
                    background: rgb(214, 214, 214);
                    width: 1px;
                    height: 12px;
                    margin-right: -5px;
                  }
                  &:last-child {
                    margin-left: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.edit-modal {
  display: none;
  &.active {
    display: block;
  }
}
.content-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: #fff;
  width: 50%;
  max-width: 500px;
  border-radius: 10px;
  padding: 30px;
  box-sizing: border-box;
  @media all and (max-width: 600px) {
    width: 70%;
  }
  @media all and (max-width: 400px) {
    width: 90%;
  }
  .write {
    width: 100%;
    fieldset {
      width: 100%;
      padding: 0;
      border: 0;
      box-sizing: border-box;
      margin: 0;
    }
    legend {
      font-size: 1.1rem;
      color: #000000;
      margin-bottom: 20px;
      font-weight: 500;
      @media all and (max-width: 800px) {
        font-size: 0.8rem;
      }
    }
    // border-bottom: 0.5px solid $border-color;
    // input {
    //   border: 1px solid rgb(223, 223, 223);
    //   box-sizing: border-box;
    //   padding: 30px 30px;
    //   width: 88%;
    //   float: left;
    //   font-weight: normal;
    //   border-top-left-radius: 5px;
    //   border-bottom-left-radius: 5px;
    //   @media all and (max-width: 800px) {
    //     padding: 20px 20px;
    //     font-size: 0.75rem;
    //   }
    // }
    textarea {
      box-sizing: border-box;
      // padding: 10px;
      font-weight: normal;
      border: none;
      resize: none;
      width: 100%;
      min-height: 200px;
      &:focus {
        outline: none;
      }
    }
    button {
      float: right;
      background-color: #8e00fd;
      color: white;
      display: block;
      font-size: 0.9rem;
      border-radius: 5px;
      padding: 8px 15px;
      box-sizing: border-box;
      font-weight: 300;
    }
  }
}
.close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: #ddd;
  padding: 4px 10px;
  border-radius: 50%;
  font-size: 1rem;
}
