$border-color: #eee;

.detail-main {
  padding-top: 0;
  section {
    max-width: 1200px;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    @media all and (max-width: 1200px) {
      padding: 0 20px;
    }
  }
  .header-container {
    // background-color: transparent;
  }
  button {
    background: none;
  }
  & > section {
    background-color: #fff;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
    @media all and (max-width: 800px) {
      font-size: 1.2rem;
    }
  }
  .paragraph {
    padding-left: 20px;
  }
  .overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    // white-space: nowrap;
    width: 500px;
    // height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .readable-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
  .close-box {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.335);
    width: 100%;
    height: 100%;
    display: none;
  }
  .poster-wrapper {
    padding-top: 450px;
    position: relative;
    .poster-box {
      display: flex;
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-box-pack: center;
      justify-content: center;
      background: black;
      width: 100%;
      height: 100%;
      overflow: hidden;
      .poster-box-1 {
        flex: 1 1 0%;
        width: 20%;
        height: 100%;
        background: linear-gradient(
          -90deg,
          rgba(93, 95, 40, 0) 0%,
          #222222 100%
        );
      }
      .poster-box-3 {
        flex: 1 1 0%;
        width: 20%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(93, 95, 40, 0) 0%,
          #222222 100%
        );
      }
      .poster-box-2 {
        width: 100%;
        height: 100%;
        // background: url(../images/mainImg.jpg) no-repeat center;
        // background-size: cover;
        background-size: cover !important;
        background-position: center top !important;
        @media all and (max-width: 1200px) {
          background-position: center center !important;
        }
      }
    }
  }
  .movie-info2-detail {
    width: 980px;
    background-color: white;
    z-index: 100;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 50px 100px;
    display: none;
    h3 {
      margin-bottom: 50px;
      font-size: 1.1rem;
    }
    dl {
      div {
        width: 100%;
        display: flex;
        padding: 20px 0;
        border-bottom: 1px solid $border-color;
        dt {
          width: 20%;
        }
        dd {
          width: 80%;
          margin-bottom: 0;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
    button {
      width: 17px;
      height: 17px;
      line-height: 10px;
      text-align: center;
      font-size: 0;
      position: absolute;
      top: 20px;
      right: 20px;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url(../images/reset.svg);
        background-size: cover;
      }
    }
  }

  .movie-info {
    // background-color: chocolate;
    position: relative;
    margin-top: 20px;
    .movie-info1 {
      // margin-top: 20px;
      border-bottom: 0.5px solid rgb(231, 231, 231);
      // padding: 0 0 5px 0;
      display: flex;
      align-items: flex-start;
      @media all and (max-width: 600px) {
        flex-direction: column;
        border-bottom: 0;
      }
      .thumbnail-wrapper {
        height: 320px;
        img {
          border: 1px solid rgb(212, 212, 212);
          border-radius: 5px;
        }
        @media all and (max-width: 800px) {
          height: 250px;
        }
        @media all and (max-width: 600px) {
          order: 2;
          margin-top: 30px;
          margin: 30px auto 0 auto;
        }
      }
      img {
        height: 100%;
      }
      .box2 {
        padding-left: 50px;
        position: relative;
        width: 100%;

        @media all and (max-width: 800px) {
          padding-left: 30px;
        }
        @media all and (max-width: 600px) {
          padding-left: 0;
        }
        .movie-title {
          font-size: 2rem;
          font-weight: bold;
          border-bottom: 0.5px solid $border-color;
          padding: 5px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media all and (max-width: 800px) {
            font-size: 1.4rem;
          }
          @media all and (max-width: 400px) {
            font-size: 1.2rem;
          }
          @media all and (max-width: 350px) {
            font-size: 1rem;
          }
          .bookmark {
            img {
              width: 30px;
              height: auto;
              display: block;
              margin-top: 0;
              margin: 0 auto;
              @media all and (max-width: 800px) {
                width: 24px;
              }
              @media all and (max-width: 350px) {
                width: 20px;
              }
            }
            span {
              font-size: 0.7rem;
              @media all and (max-width: 800px) {
                font-size: 0.6rem;
              }
            }
          }
        }
        .movie-sub-info {
          font-size: 1rem;
          color: rgb(109, 109, 109);
          border-bottom: 0.5px solid $border-color;
          padding: 5px 0;
          @media all and (max-width: 800px) {
            font-size: 0.9rem;
          }
          @media all and (max-width: 350px) {
            font-size: 0.8rem;
          }
          // @media all and (max-width: 350px) {
          //   font-size: 0.7rem;
          // }
          span::before {
            content: '|';
            padding: 0 8px;
            vertical-align: text-bottom;
            @media all and (max-width: 800px) {
              padding: 0 4px;
            }
            @media all and (max-width: 350px) {
              padding: 0 1px;
            }
          }
        }
        .movie-sub-info2 {
          font-size: 1rem;
          border-bottom: 0.5px solid $border-color;
          padding: 5px 0;
          @media all and (max-width: 800px) {
            font-size: 0.9rem;
          }
          @media all and (max-width: 350px) {
            font-size: 0.8rem;
          }
          // @media all and (max-width: 350px) {
          //   font-size: 0.7rem;
          // }
          span {
            display: inline-block;
            padding-right: 5px;
            svg {
              width: 15px;
              height: 15px;
            }
          }
        }
        .rating {
          // position: absolute;
          // left: 45px;
          // bottom: 0;
          padding: 5px 0;
          section {
            padding: 0;
          }
          span {
            display: block;
            font-size: 0.7rem;
            margin-left: 8px;
            @media all and (max-width: 350px) {
              font-size: 0.65rem;
            }
          }
          section {
            justify-self: center;
            align-self: center;
            align-items: center;
            display: inline-flex;
            position: relative;
            // height: 35px;
            .stars {
              height: 52px;
              cursor: pointer;
              @media all and (max-width: 800px) {
                height: 42px;
              }
              svg {
                width: 40px;
                height: 40px;
                padding: 2px;
                position: relative;
                pointer-events: none;
                @media all and (max-width: 800px) {
                  width: 30px;
                  height: 30px;
                }
              }
            }
            .reset {
              width: 15px;
              height: 15px;
              cursor: pointer;
              // background-color: blue;
              margin-left: 20px;
            }
          }
        }
        .my-comment {
          margin-top: 40px;
          position: relative;
          .is-comment {
            width: 100%;
            fieldset {
              width: 100%;
              display: flex;
              padding: 0;
              border: 0;
              box-sizing: border-box;
            }
            legend {
              font-size: 0.9rem;
              color: #000000;
              margin-bottom: 10px;
              @media all and (max-width: 350px) {
                font-size: 0.8rem;
              }
            }
            input {
              width: 100%;
              background-color: rgb(248 248 248);
              padding: 20px;
              outline: none;
              cursor: not-allowed;
              box-sizing: border-box;
              &.active {
                cursor: auto;
                border: 2px solid #8e00fd;
              }
              @media all and (max-width: 350px) {
                font-size: 0.8rem;
              }
            }
            div {
              position: absolute;
              top: 55%;
              right: 0;
              padding: 0 20px;
              button {
                color: rgb(140, 140, 140);

                &:first-child {
                  // margin-right: 15px;
                  &::after {
                    content: '|';
                    box-sizing: border-box;
                    padding: 0 15px;
                  }
                }
              }
              // transform: translateX(-50%);
            }
          }
          .no-comment {
            width: 100%;
            fieldset {
              width: 100%;
              display: flex;
              padding: 0;
              border: 0;
              box-sizing: border-box;
            }
            legend {
              font-size: 0.9rem;
              color: #000000;
              margin-bottom: 10px;
              @media all and (max-width: 800px) {
                font-size: 0.8rem;
              }
            }
            // border-bottom: 0.5px solid $border-color;
            input {
              border: 1px solid rgb(223, 223, 223);
              box-sizing: border-box;
              padding: 30px 30px;
              width: 88%;
              float: left;
              font-weight: normal;
              border-top-left-radius: 5px;
              border-bottom-left-radius: 5px;
              @media all and (max-width: 800px) {
                padding: 20px 20px;
                font-size: 0.75rem;
              }
            }
            button {
              float: right;
              background-color: #8e00fd;
              color: white;
              display: block;
              width: 12%;
              font-size: 0.8rem;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              @media all and (max-width: 800px) {
                width: 25%;
              }
              &.unclickable {
                pointer-events: none;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
    .movie-info2 {
      border-bottom: 0.5px solid $border-color;
      position: relative;
      width: 100%;
      padding: 50px 0 30px 0;
      // background-color: blue;
      .movie-sub-info3 {
        dd {
          margin: 0;
          font-size: 0.9rem;
        }
        p {
          font-size: 0.9rem;
          margin-bottom: 10px;
          line-height: 22px;
          @media all and (max-width: 350px) {
            font-size: 0.8rem;
          }
        }
        p:nth-of-type(2) {
          color: rgb(109, 109, 109);
        }
      }
      button {
        position: absolute;
        top: 50px;
        right: 0;
        font-size: 0.8rem;
        color: #6100ff;
      }
    }
    .movie-info3 {
      border-bottom: 0.5px solid $border-color;
      padding: 50px 0 30px 0;
      ul {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        @media all and (max-width: 1200px) {
          grid-template-columns: repeat(8, 1fr);
        }
        @media all and (max-width: 800px) {
          grid-template-columns: repeat(6, 1fr);
        }
        @media all and (max-width: 600px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media all and (max-width: 350px) {
          grid-template-columns: repeat(3, 1fr);
        }
        li {
          font-size: 0.9rem;
          text-align: center;
          box-sizing: content-box;
          padding: 10px 10px;
          @media all and (max-width: 800px) {
            font-size: 0.8rem;
          }
          @media all and (max-width: 400px) {
            padding: 10px 3px;
          }

          img {
            width: 100%;
          }
        }
      }
    }
    .movie-info4 {
      border-bottom: 0.5px solid $border-color;
      padding: 50px 0 30px 0;
      width: 100%;
      position: relative;
      // max-width: 900px;
      margin: 0 auto;
      // fieldset {
      //   border: 0;
      //   padding: 0;
      //   margin: 0;
      //   display: flex;
      //   justify-content: space-between;
      //   border-radius: 30px;
      // }
      a {
        position: absolute;
        top: 55px;
        right: 0;
        font-size: 0.8rem;
        color: #818181;
      }
      ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, minmax(0px, 1fr));
        gap: 8px;
        @media all and (max-width: 800px) {
          grid-template-columns: repeat(2, minmax(0px, 1fr));
        }
        @media all and (max-width: 600px) {
          grid-template-columns: repeat(1, minmax(0px, 1fr));
        }
        .no-comment {
          // padding: 10px 0;
          color: #3c3c3c;
        }
        li {
          padding: 15px 15px;
          background-color: rgb(242, 242, 242);
          color: #3c3c3c;
          border-radius: 5px;
          .writer {
            font-size: 1.1rem;
            padding-bottom: 8px;
            display: flex;
            justify-content: space-between;
            @media all and (max-width: 400px) {
              font-size: 1rem;
            }
            span {
              display: inline-block;
              background-color: #fff;
              padding: 3px 5px;
              font-size: 0.9rem;
              border-radius: 20px;
              color: rgb(255, 153, 0);
              @media all and (max-width: 400px) {
                font-size: 0.8rem;
              }
              svg {
                width: 15px;
                height: auto;
                margin-bottom: -1px;
                margin-right: 3px;
                @media all and (max-width: 400px) {
                  width: 13px;
                }
              }
            }
          }
          .content {
            border-top: 1px solid rgb(229, 229, 229);
            border-bottom: 1px solid rgb(229, 229, 229);
            padding: 10px 0;
            height: 150px;
            font-size: 0.85rem;
            cursor: pointer;
            @media all and (max-width: 400px) {
              font-size: 0.8rem;
            }
          }
          .like-recomment {
            display: flex;
            align-items: center;
            border-bottom: 1px solid rgb(229, 229, 229);
            padding: 10px 0;
            img {
              width: 20px;
              margin-top: -5px;
              margin-right: 1px;
            }
            span {
              display: flex;
              align-items: center;

              @media all and (max-width: 400px) {
                font-size: 0.9rem;
              }
              &:first-child {
                margin-right: 10px;
              }
              &:last-child {
                cursor: pointer;
                img {
                  margin-top: -1px;
                }
              }
            }
          }
          .like-btn {
            padding: 10px 0;
            padding-bottom: 0;

            button {
              color: #8e00fd;
              @media all and (max-width: 400px) {
                font-size: 0.75rem;
              }
              &.active {
                background-color: #8e00fd;
                padding: 5px 10px;
                color: white;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .add-content {
        display: block;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        border: 0.5px solid $border-color;
        font-size: 0.8rem;
        margin: 15px 0;
        color: #6100ff;
      }
      form::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }
}
