$border-color: #eee;

.home-main {
  height: 100%;
  position: relative;
  .close-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.445);
    display: none;
  }

  iframe {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border: 0;
    // display: none;
  }
  p {
    margin: 0;
  }
  section {
    padding: 50px 0;
    width: 95%;
    max-width: 1300px;
    .slide {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .slide-container {
      position: relative;
      overflow-x: clip;
      scrollbar-width: none;
    }
    .rank,
    .my-collection-wrapper {
      padding: 40px 0;
      h3 {
        color: #000000;
        // font-weight: 900;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: left;
      }
      ul {
        display: flex;
        transition: all 1s;
        position: relative;
        gap: 16px;
        flex-wrap: nowrap;
        overflow: visible;

        li {
          position: relative;
          flex: 0 0 auto !important;
          width: calc(20% - 12.8px);
          .ranking {
            background-color: #000000ad;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            box-sizing: border-box;
            color: white;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 0;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 3px;
            z-index: 1;
          }
          a {
            display: inline-block;
            text-decoration: none;
            width: 100%;
            .test1 {
              position: relative;
              width: 100%;
              height: 0px;
              padding-bottom: 145.37%;
            }
            .test2 {
              overflow: hidden;
              position: absolute;
              top: 0px;
              left: 0px;
              box-sizing: border-box;
              width: 100%;
              height: 100%;
              border: 1px solid rgb(234, 233, 232);
              border-radius: 5px;
              background: rgb(248, 248, 248);
              transition: all 300ms ease 0s;
            }
          }
          img {
            vertical-align: top;
            width: 100%;
            height: 100%;
            min-height: 1px;
            opacity: 1;
            object-fit: cover;
            transition: opacity 420ms ease 0s;
          }

          .movie-info {
            p {
              font-size: 0.8em;
              color: rgb(126, 126, 126);
              @media all and (max-width: 1200px) {
                font-size: 0.7em;
              }
              @media all and (max-width: 360px) {
                font-size: 0.6em;
              }
            }
            .movie-title {
              font-size: 1.1em;
              margin-top: 10px;
              color: black;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              @media all and (max-width: 1200px) {
                font-size: 1em;
              }
              @media all and (max-width: 600px) {
                font-size: 0.9em;
              }
              @media all and (max-width: 360px) {
                font-size: 0.7em;
              }
            }
            span {
              display: inline-block;
              margin-bottom: 5px;
              color: #646464;
              font-size: 0.8em;
            }
          }
        }
      }
    }

    .box-office-rank,
    .cine-square-rank,
    .highly-rated-rank {
      position: relative;
      button {
        background: none;
        position: absolute;
        img {
          height: 40px;
        }
      }
      .prev-btn {
        top: 50%;
        margin-top: -20px;
        left: -15px;
        display: none;
        z-index: 10;
      }
      .next-btn {
        top: 50%;
        margin-top: -20px;
        right: -15px;
        z-index: 10;
      }
    }
    .my-collection-wrapper {
      h3 {
        text-align: center;
        padding: 20px 0;
        font-size: 1.1rem;
        font-weight: bold;
      }
      .my-collection {
        border-top: 1px solid $border-color;
        // ul {
        //   width: 100%;
        //   li {
        //     border: 1px solid $border-color;
        //     width: calc(100% / 3 - 2.5%);
        //     height: 200px;
        //     &:nth-child(1) {
        //       background-color: rgb(240, 240, 240);
        //     }
        //     &:nth-child(2) {
        //       background-color: rgb(237, 237, 241);
        //     }
        //     &:nth-child(3) {
        //       background-color: rgb(240, 240, 240);
        //     }
        //   }
        // }
        div {
          width: 100%;
          border: 1px solid $border-color;
          height: 200px;
          background-color: rgb(240, 240, 240);
        }
      }
    }
  }
  // .prev-active {
  //   transform: translate(0);
  //   transition: all 1s;
  // }
  // .next-active {
  //   transform: translate(calc(-100% / 3));
  //   transition: all 1s;
  // }
  .owl-nav {
    margin-top: 0 !important;
    .owl-prev {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-30px);
      text-indent: -9999px;
      float: left;
      width: 50px;
      height: 60px;
      background: url(../images/prevslide.png) no-repeat center center !important;
    }
    .owl-next {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-30px);
      text-indent: -9999px;
      float: right;
      width: 50px;
      height: 60px;
      background: url(../images/nextslide.png) no-repeat center center !important;
    }
  }
  .owl-dots {
    padding: 15px 0;
    .owl-dot.active span,
    .owl-dot:hover span {
      background-color: #6100ff !important;
    }
  }

  .slide {
    .item {
      position: relative;
      cursor: pointer;
      .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 70px;
        width: 60px;
        transform: translate(-35px, -30px);
        z-index: 10;
        background: none;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
