.header-container {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  min-height: 64px;
  .pc {
    // width: 1200px;
    @media all and (max-width: 900px) {
      display: none;
    }
    margin: 0 auto;
    display: flex;
    padding: 5px 10px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    .header {
      padding-left: 10px;
      cursor: pointer;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 220px;
      }
    }
    .right-content {
      width: 55%;
      @media all and (max-width: 1000px) {
        width: 65%;
      }
      display: flex;
      justify-content: space-between;
      padding: 10px;
      .input-box {
        position: relative;
        form {
          display: inline-block;
        }
        input {
          width: 250px;
          background: none;
          border: #e4e4e4 solid 1px;
          padding: 5px 5px;
          color: #808080;
          font-weight: normal;
          &::placeholder {
            color: rgb(165, 165, 165);
          }
        }
        .search-button {
          width: 35px;
          height: 32px;
          background: url(../images/searchIcon.png) no-repeat 0 0;
          background-size: contain;
          text-indent: -9999px;
          overflow: hidden;
          font-size: 0;
          margin-left: 8px;
          vertical-align: middle;
        }

        .search-list {
          display: none;
          position: absolute;
          top: 50px;
          left: 0;
          background-color: #1f1f1f;
          color: #ffffff;
          z-index: 10;
          width: 100%;
          box-shadow: 2px 2px 20px 2px #272727;
          box-sizing: border-box;
          padding: 20px;
          ul {
            width: 100%;
            height: 100%;
            li {
              padding: 10px;
            }
          }
        }
      }
      .my-profile-btn {
        line-height: 32px;
        button,
        a,
        p {
          display: inline-block;
          margin-left: 35px;
          color: #5e5e5e;
          font-size: 0.8rem;
          background-color: transparent;
        }
        a {
          margin: 0;
          padding: 0 15px;
          &:last-child {
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-left: 10px;
          }
        }

        button:hover {
          color: #5e5e5e;
        }
        p {
          cursor: pointer;
        }
      }
    }
  }
  .mobile {
    margin: 0 auto;
    padding: 5px 10px;
    justify-content: space-between;
    min-height: 64px;
    max-height: 64px;
    box-sizing: border-box;
    align-items: center;
    @media all and (min-width: 901px) {
      display: none;
    }
    @media all and (max-width: 900px) {
      display: flex;
    }
    .header {
      padding-left: 10px;
      cursor: pointer;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        @media all and (max-width: 450px) {
          width: 120px;
        }
      }
      &.displayNone {
        display: none;
      }
      @media all and (max-width: 400px) {
        display: none;
      }
    }
    .right-content {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      padding: 10px;
      &.active {
        width: 100%;
      }
      @media all and (max-width: 470px) {
        justify-content: flex-end;
        width: 100%;
      }
      .input-box {
        position: relative;
        &.active {
          @media all and (max-width: 470px) {
            width: 100%;
          }
        }
        form {
          display: inline-block;
        }
        input {
          width: 0px;
          background: none;
          border: 0;
          padding: 0;
          color: #808080;
          font-weight: normal;
          &::placeholder {
            color: rgb(165, 165, 165);
          }
          &.active {
            width: 250px;
            border: #e4e4e4 solid 1px;
            padding: 5px 5px;
            @media all and (max-width: 600px) {
              width: 200px;
            }
            // @media all and (max-width: 450px) {
            //   width: 180px;
            // }
            @media all and (max-width: 470px) {
              width: calc(100% - 45px);
            }
          }
        }
        .search-button {
          width: 35px;
          height: 32px;
          background: url(../images/searchIcon.png) no-repeat 0 0;
          background-size: contain;
          text-indent: -9999px;
          overflow: hidden;
          font-size: 0;
          margin-left: 8px;
          vertical-align: middle;
          @media all and (max-width: 550px) {
            width: 25px;
            height: 20px;
          }
        }

        .search-list {
          display: none;
          position: absolute;
          top: 50px;
          left: 0;
          background-color: #1f1f1f;
          color: #ffffff;
          z-index: 10;
          width: 100%;
          box-shadow: 2px 2px 20px 2px #272727;
          box-sizing: border-box;
          padding: 20px;
          ul {
            width: 100%;
            height: 100%;
            li {
              padding: 10px;
            }
          }
        }
      }
      .my-profile-btn {
        // line-height: 32px;
        @media all and (max-width: 470px) {
          &.displayNone {
            display: none;
          }
        }
        button,
        a {
          display: inline-block;
          color: #5e5e5e;
          font-size: 0.8rem;
          background-color: transparent;
          @media all and (max-width: 550px) {
            font-size: 0.7rem;
          }
        }
        a,
        button {
          margin: 0;
          padding: 5px 15px;
          @media all and (max-width: 550px) {
            padding: 5px 10px;
          }
          &:last-child {
            border: 1px solid #ddd;
            border-radius: 5px;
            // margin-left: 10px;
          }
        }

        button:hover {
          color: #5e5e5e;
        }
        p {
          cursor: pointer;
        }
      }
    }
  }
}
