.my-choice-movie {
  margin-top: 10px;

  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  ul {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, auto));
    row-gap: 30px;
    column-gap: 10px;
    li {
      img {
        width: 100%;
      }
      p {
        &:nth-of-type(2) {
          display: flex;
          align-items: center;
          color: #ffaa00;
          font-size: 0.8rem;
          svg {
            width: 10px;
            height: auto;
            margin-top: -3px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}
