.my-choice-movie {
  margin-top: 10px;
  max-width: 1200px;
  width: 100%;
  @media all and (max-width: 1220px) {
    padding: 0 20px;
    box-sizing: border-box;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
  }
  ul {
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(10%, auto));
    grid-template-columns: repeat(8, 1fr);
    row-gap: 30px;
    column-gap: 10px;
    @media all and (max-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media all and (max-width: 800px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media all and (max-width: 600px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media all and (max-width: 400px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media all and (max-width: 300px) {
      grid-template-columns: repeat(2, 1fr);
    }
    li {
      box-sizing: border-box;
      cursor: pointer;
      .thumbnail-wrapper {
        position: relative;
        width: 100%;
        height: 0;
        overflow: hidden;
        padding-bottom: 144%;
        .wrapper {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 5px;
          border: 1px solid #ccc;
          box-sizing: border-box;
          img {
            width: 100%;
            height: 100%;
            vertical-align: top;
            border-radius: 5px;
            object-fit: cover;
            min-height: 1px;
          }
        }
      }

      p {
        &:nth-of-type(2) {
          display: flex;
          align-items: center;
          color: #ffaa00;
          font-size: 0.8rem;
          svg {
            width: 10px;
            height: auto;
            margin-top: -3px;
            margin-right: 3px;
          }
          @media all and (max-width: 600px) {
            font-size: 0.8rem;
          }
          @media all and (max-width: 500px) {
            font-size: 0.6rem;
          }
          @media all and (max-width: 300px) {
            font-size: 0.7rem;
          }
        }
        @media all and (max-width: 600px) {
          font-size: 0.8rem;
        }
        @media all and (max-width: 450px) {
          font-size: 0.7rem;
        }
        @media all and (max-width: 300px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}
